<ion-content>
  <div class="header">
    <ion-avatar>
      <img src="/assets/img/pagina-inicial/avatar.png">
    </ion-avatar>
    <h1> Polyana Cristina</h1>
    <span> 03 de agosto de 1990, feminino</span>

    <div class="alterarFoto">
      <img src="/assets/img/pagina-usuario/camera.png">
      <span>Alterar foto</span>
    </div>
  </div>

  <div class="profileOptions">
    <ion-list>
      <ion-item>
        <ion-text>
          <h2>Dados pessoais</h2>
          <p>Altura: 160cm</p>
          <p>Peso: 60kg</p>
        </ion-text>
        <ion-icon name="arrow-forward" slot="end" class="icon-arrow-forward"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-text>
          <h2>Alergias</h2>
          <p>Amendoim, ácido acetilsalicílico</p>
        </ion-text>
        <ion-icon name="arrow-forward" slot="end" class="icon-arrow-forward"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-text>
          <h2>Antecedentes de saúde</h2>
          <p>Altura: 160cm</p>
          <p>Peso: 60kg</p>
        </ion-text>
        <ion-icon name="arrow-forward" slot="end" class="icon-arrow-forward"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-text>
          <h2>Vacinas</h2>
          <p>Altura: 160cm</p>
          <p>Peso: 60kg</p>
        </ion-text>
        <ion-icon name="arrow-forward" slot="end" class="icon-arrow-forward"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<!-- Fab vertical -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" horizontal="center" edge>
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<!-- Tab -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="remédios"  class="button-tab-position-1" [routerLink]="['/pagina-inicial']" routerDirection="back">
      <img src="assets/img/pagina-inicial/house.png" class="img-icon">
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Consultas" class="button-tab-position-2">
      <img src="assets/img/pagina-inicial/settings.png" class="img-icon">
      <ion-label>Configuração</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Home"  class="button-tab-position-3">
      <img src="assets/img/pagina-inicial/profile.png" class="img-icon">
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Exames"  class="button-tab-position-4">
      <img src="assets/img/pagina-inicial/hospital.png" class="img-icon">
      <ion-label>Emergência</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
