<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/pagina-inicial']" routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="header">

    <ion-avatar>
      <img src="/assets/img/pagina-inicial/avatar.png">
    </ion-avatar>

    <div class="textAvatar">
      <h1>Bem vinda, Polyana!</h1>
      <span >Seu último acesso foi em 12/07/2019</span>
    </div>

  </div>
</ion-header>



<ion-content>
  <div class="content">
    <div class="textHeader">
      <h1>Acompanhe suas consultas</h1>
    </div>

    <div class="container">
      <ul>

        <li>
          <div>
            <div class="title">
              <div class="checkbox">
                <ion-checkbox></ion-checkbox>
              </div>
              Azitromicina
            </div>
            <div class="info">1 vez ao dia </div>
          </div> <span class="number"><span>08:00</span> </span>
        </li>

        <li>
          <div>
            <div class="title">
              <div class="checkbox">
                <ion-checkbox></ion-checkbox>
              </div>
              Diclofenaco Potássico
            </div>
            <div class="info">2 vezes ao dia </div>
          </div> <span class="number"><span>12:00</span> </span>
        </li>

        <li>
          <div>
            <div class="title">
              <div class="checkbox">
                <ion-checkbox></ion-checkbox>
              </div>
              Micropil R21
            </div>
            <div class="info">1 vez ao dia </div>
          </div> <span class="number"><span>19:00</span> </span>
        </li>

        <li>
          <div>
            <div class="title">
              <div class="checkbox">
                <ion-checkbox></ion-checkbox>
              </div>
              Diclofenaco Potássico
            </div>
            <div class="info">2 vezes ao dia </div>
          </div> <span class="number"><span>00:00</span> </span>
        </li>
      </ul>

    </div>

    <h1>Gerencie suas consultas</h1>
    <div class="cards">
      <ion-card>
        <ion-card-content>
          <span class="titleSpanCard">Paracetamol</span>
          <img src="/assets/img/remedio/pill-and-tablet.png">
          <span>750mg<br>vezes ao dia</span>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <span class="titleSpanCard">Paracetamol</span>
          <img src="/assets/img/remedio/pill-and-tablet.png">
          <span>750mg<br>3 vezes ao dia</span>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
