.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 3px 4px #F1F1F1;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 136px;

    ion-avatar{
        width: 70px;
        height: 70px;
        border-style: solid;
        border-width: 4px;
        border-color: #fff;
        box-shadow: 0 6px 10px #F1F1F1;
    }

    .textAvatar {
        margin-left: 20px;

        h1{
            font-size: 20px;
            color: #A71D1D;
            font-weight: bold;
            font-family: 'Poppins';
        }

        span {
            margin-bottom: 20px;
        }
    }
}

ion-content{
    --background: #F9F9F9;
    --padding-top: 135px;

    ion-card {
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        --background: #fff;

        h1 {
            color: #A71D1D;
            font-size: 16px;
            font-weight: bold;
            font-family: 'Poppins';
        }

        .text {
            color: #707070;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
            font-family: 'Proxima Nova Soft';
        }

        .textBorder{
            color: #707070;
            text-align: center;
            font-size:14px;
            font-weight: normal;
            font-family: 'Proxima Nova Soft';
            border-style: solid;
            border-width: 0 0 0 3px;
            border-color: #1B90A8;
        }

        .ion-card-image{
            width:100px;
        }
    }
}

ion-tabs{
    .img-icon{
        height: 24px;
    }

    ion-label{
        color: #707070;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        font-family: 'Proxima Nova Soft';
    }
}


// botoes do fab para separá-los
// .button-tab-position-1{
//     margin-right: 10px;
// }

// .button-tab-position-2{
//     margin-right: 10px;
// }

// .button-tab-position-3{
//     margin-left: 10px;
// }

// .button-tab-position-4{
//     margin-left: 10px;
// }

ion-fab{
    margin-bottom:50px;

    ion-fab-button{
        --background: #A71D1D;
    }
}
