<ion-content>
  <div class="container">

    <div class="previous-page" [routerLink]="['/cadastro-geral']" routerDirection="back">
      <ion-icon name="arrow-back" class="icon-previous-page"></ion-icon>
      <span class="textBack">Voltar</span>
    </div>

    <div class="header">
      <h1>Entrar na conta</h1>
    </div>

    <div class="form" >

        <form class="formulario" (ngSubmit)="LoginUsuario()">
          <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-label>E-mail:</ion-label>
            <ion-input type="text" [(ngModel)]="paciente.email" name="txtemail" placeholder="Digite seu e-mail"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock"></ion-icon>
            <ion-label>Senha:</ion-label>
            <ion-input type="password" [(ngModel)]="paciente.senha" name="txtsenha" placeholder="Digite sua senha"></ion-input>
          </ion-item>
          
          <div class="loginForgotPassword">
            <span class="text">Esqueceu sua senha?</span>
          </div>
  
          <div class="button">
            <ion-button type="submit" block>Entrar</ion-button>
          </div>
        </form>

    </div>

    <div class="loginLink">
      <span class="text">Não possui uma conta? <b>Cadastre-se.</b></span>
    </div>

  </div>
</ion-content>
  