<ion-content>
  <div class="container">

    <div class="header">

      <ion-avatar>
        <img src="/assets/img/avatar.png">
      </ion-avatar>
      <h1>Bem vinda, Polyana!</h1>
      <span>Seu último acesso foi em 12/07/2019</span>

    </div>

    <div class="form">
      <form>

        <ion-item>
          <ion-button expand="block" fill="clear" class="button-form">Editar Perfil</ion-button>
        </ion-item>

      </form>
    </div>

    <ion-button (click)="dismiss()">Dismiss</ion-button>
  </div>
</ion-content>