<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/perfil-usuario']" routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="header">

    <ion-avatar>
      <img src="/assets/img/pagina-inicial/avatar.png">
    </ion-avatar>

    <div class="textAvatar">
      <h1>Bem vinda, Polyana!</h1>
      <span >Seu último acesso foi em 12/07/2019</span>
    </div>

  </div>
</ion-header>

<ion-content>
  <h2>Histórico familiar</h2>
  <span class="texto"> Preencha suas informações</span>


  <div class="listaHistorico">
    <h3>Histórico familiar de câncer</h3>
    <div class="opcoes">
      <ion-label><ion-checkbox></ion-checkbox> Sim</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Não</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Desconhecido</ion-label>
    </div>

    <h3>Histórico familiar de diabetes</h3>
    <div class="opcoes">
      <ion-label><ion-checkbox></ion-checkbox> Sim</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Não</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Desconhecido</ion-label>
    </div>

    <h3>Histórico familiar de Alzheimer</h3>
    <div class="opcoes">
      <ion-label><ion-checkbox></ion-checkbox> Sim</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Não</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Desconhecido</ion-label>
    </div>

    <h3>Histórico familiar de pressão alta</h3>
    <div class="opcoes">
      <ion-label><ion-checkbox></ion-checkbox> Sim</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Não</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Desconhecido</ion-label>
    </div>

    <h3>Histórico familiar de doenças cardiovasculares</h3>
    <div class="opcoes">
      <ion-label><ion-checkbox></ion-checkbox> Sim</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Não</ion-label>
      <ion-label><ion-checkbox></ion-checkbox> Desconhecido</ion-label>
    </div>



  </div>





  <div class="button">
    <ion-button type="submit" block>Salvar</ion-button>
  </div>
</ion-content>
